@import "normalize.css";
@import "fonts.css";

/*header*/
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	height: 190px;
	max-width: 1400px;
	margin: 0 auto;
}

/*logo and languages*/
.container {
	flex: 5 1 auto;
	align-self: center;
	margin-top: 55px;
	padding-left: 5px;
}

.logo {
	display: block;
	width: 157px;
	height: 22px;
	overflow: hidden;
}

.language {
	display: flex;
	justify-content: space-between;
	width: 236px;
	margin-top: 26px;
	padding: 0;
	list-style: none;
}

/*text*/
.language__item {
	position: relative;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(163, 163, 163);
}

.language__item::after{
	content: "/";
	position: absolute;
	top: 18%;
	right: -15px;
	font-weight: 900;
}

.language__item_last::after {
	content: "";
}

.language__item:hover {
	color: rgb(115, 115, 115);
	transition: color 0.6s;
}

.language__item_selected {
	color: rgb(133, 134, 136);
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(115, 115, 115);
}

/*nav*/
.nav {
	flex: 2 1 auto;
}

.nav__list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*text*/
.nav__item {
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(69, 69, 69);
}

.nav__item:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(69, 69, 69);
}

/*login and sign up*/
.auth-bar {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
	padding-right: 5px;
}

/*text*/
.auth-bar__login, .auth-bar__sign-up {
	align-self: center;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	color: rgb(80, 80, 80);
}

.auth-bar__login {
	margin-right: 10%;
}

.auth-bar__login .fas {
	color: rgb(88, 44, 126);
	font-size: 0.9em;
}

.auth-bar__text {
	padding-left: 2px;
}

.auth-bar__sign-up {
	padding: 0.6em 1.3em;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right, #582c7e 30%, #616dc3 60%);
	box-shadow: 0 6px 10px 1px #7c8ec7;
	border-radius: 22px;
	transition: box-shadow 0.3s;
}

.auth-bar__sign-up:hover {
	box-shadow: 0 4px 8px 6px #7c8ec7;
}

.auth-bar__sign-up:active {
	box-shadow: none;
	transition: box-shadow 0.3s;
}
