@import "normalize.css";
@import "fonts.css";

/*header*/
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	height: 190px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 5px;
}

/*logo and languages*/
.container {
	flex: 5 1 auto;
	align-self: center;
	margin-top: 55px;
}

.logo {
	display: block;
	width: 157px;
	height: 22px;
	overflow: hidden;
}

.language-list {
	display: flex;
	justify-content: space-between;
	width: 236px;
	margin-top: 26px;
	padding: 0;
	list-style: none;
}

/*text*/
.language-list__item {
	position: relative;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(163, 163, 163);
}

.language-list__item::after {
	content: "/";
	position: absolute;
	top: 18%;
	right: -15px;
	font-weight: 900;
}

.language-list__item_last::after {
	content: "";
}

.language-list__item:hover {
	color: rgb(115, 115, 115);
	transition: color 0.6s;
}

.language-list__item_selected {
	color: rgb(133, 134, 136);
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(115, 115, 115);
}

/*nav*/
.nav {
	flex: 2 1 auto;
}

.nav__list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*text*/
.nav__item {
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(69, 69, 69);
}

.nav__item:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(69, 69, 69);
}

/*login and sign up*/
.auth-bar {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}

/*text*/
.auth-bar__login, .auth-bar__sign-up {
	align-self: center;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	color: rgb(80, 80, 80);
}

.auth-bar__login {
	margin-right: 10%;
}

.auth-bar__login .fas {
	color: rgb(88, 44, 126);
	font-size: 0.9em;
}

.auth-bar__text {
	padding-left: 2px;
}

.auth-bar__sign-up {
	padding: 0.6em 1.3em;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right, #582c7e 30%, #616dc3 60%);
	box-shadow: 0 6px 10px 1px #7c8ec7;
	border-radius: 22px;
	transition: box-shadow 0.6s;
}

.auth-bar__sign-up:hover {
	box-shadow: 0 6px 10px 5px #8fa2dc;
	transition: box-shadow 0.6s;
}

.auth-bar__sign-up:active {
	box-shadow: none;
	transition: box-shadow 0.6s;
}

/*main*/
.main {
	overflow: hidden;
}

.main-title {
	position: relative;
	max-height: 700px;
}

/*main img*/
.main-title__img {
	width: 100%;
	height: auto;
	max-height: inherit;
}

/*container of title and create account*/
.main-title__info {
	position: absolute;
	top: 21%;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}

.title-container__title, .title-container__description {
	margin: 0 0 10px;
	font-family: TitilliumWeb-Regular, TitilliumWeb-SemiBold, MyriadPro-Regular, sans-serif;
	font-size: 3.9em;
	color: rgb(122, 122, 121);
}

.title-container__description {
	margin: 0;
	font-size: 2.2em;
	text-align: center;
}

.title-container__description_red {
	color: #fc6b6d;
}

/*create account and refers to stores*/
.create-account {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.create-account::after {
	content: "";
	position: absolute;
	top: 40%;
	left: 0;
	right: 1%;
	margin: 0 auto;
	width: 602px;
	height: 57px;
	background-image: url("../assets/img/shadow.png");
	z-index: 1;
}

.create-account__create {
	padding: 20px 66px;
	font-family: TitilliumWeb-Bold, MyriadPro-Regular, sans-serif;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	background: linear-gradient(to left, #5f2f6a 10%, #636b92 60%);
	border-radius: 50px;
	box-shadow: 0 10px 20px #6883cc;
	transition: box-shadow 0.6s;
	z-index: 2;
}

.create-account__create:hover {
	box-shadow: 0 10px 18px 5px #6883cc;
	transition: box-shadow 0.6s;
}

.create-account__create:active {
	box-shadow: none;
	transition: box-shadow 0.6s;
}

.create-account__store {
	align-self: center;
	margin-left: 24px;
	padding: 12px 14px;
	font-size: 1.5em;
	text-align: center;
	color: white;
	background: #7d5280;
	border-radius: 50px;
	opacity: 0.9;
	transition: opacity 0.6s;
	z-index: 2;
}

.create-account__store:hover {
	opacity: 1;
	transition: opacity 0.6s;
}

.create-account__store_android {
	padding: 12px 10px 12px 14px;
}

/*social networks*/
.soc-networks {
	position: absolute;
	top: 2%;
	right: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 94px;
	list-style: none;
}

.soc-networks__item {
	display: block;
	font-size: 1.4em;
	width: 20px;
	text-align: center;
	color: #676766;
}

.soc-networks__item:hover {
	color: #878786;
	transition: color 0.6s;
}

/*features*/
.features {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	max-width: 1400px;
	margin: 0 auto;
	font-family: TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
}

/*right line after section*/
.features::after {
	content: "";
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 2px;
	background: #b9b9b9;
}

.features__item {
	position: relative;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	flex: 1;
}

/*up line*/
.features__item_line-up::after {
	content: "";
	position: absolute;
	right: 0;
	bottom: 52%;
	width: 2px;
	height: 224px;
	background: #b9b9b9;
}

/*down line*/
.features__item_line-down::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 2px;
	background: #b9b9b9;
}

/*title container*/
.features__item .title {
	display: flex;
	align-self: flex-start;
	margin-left: 3%;
}

.title__img {
	max-height: 60px;
}

/*header of title*/
.title__elements {
	align-self: center;
}

.title__main {
	margin: 0;
	font-size: 1.8em;
	color: #555555;
}

.title__additional {
	margin: 0;
	font-size: 1.1em;
	color: #959393;
}

/*item description*/
.features__description {
	margin: 20px 9% 0;
	max-width: 360px;
	line-height: 1.5em;
	text-align: justify;
	font-size: 0.9em;
	color: rgb(149, 147, 147);
}

/*section description and button about*/
.features-description {
	position: relative;
	box-sizing: border-box;
	width: 66.6%;
	padding: 135px 3% 0 0;
	text-align: right;
	border-bottom: 2px solid #b9b9b9;
}

.features-description::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: -2px;
	right: -0.1%;
	width: 2px;
	background: #b9b9b9;
}

.features-description::before {
	content: "";
	position: absolute;
	bottom: -2px;
	right: 100%;
	width: 100%;
	height: 2px;
	background: #b9b9b9;
}

.features-description__title {
	margin: 0;
	font-size: 3.9em;
	color: rgba(83, 83, 83, 255);
}

.features-description__inform {
	margin: 0.3em 0 2em 30%;
	width: 70%;
	font-size: 1.5em;
	color: rgba(149, 147, 147, 255);
}

.features-description_red {
	color: #fc6b6d;
}

.features-description__button {
	position: absolute;
	bottom: -10%;
	right: -16%;
	width: 273px;
	padding: 20px 28px;
	font-size: 1em;
	text-decoration: none;
	color: rgb(103, 103, 103);
	border: 2px solid #b9b9b9;
	border-radius: 50px;
	background: white;
	transition: background 0.6s;
	z-index: 1;
}

.features-description__button:hover {
	color: white;
	background: #815587;
	transition: all 0.6s;
}

/*devices section*/
.devices {
	margin: 70px 0 0;
	background: linear-gradient(173deg, white 45%, #f6f6f6 30%);
}

/*img with partners*/
.devices__partners {
	max-width: 100%;
	height: auto;
}

.devices__content {
	position: relative;
	display: flex;
	justify-content: flex-end;
	max-width: 1200px;
	padding: 0 5px;
	margin: 60px auto 0;
}

.devices__content::after {
	content: "";
	position: absolute;
	bottom: 2.5%;
	left: 10%;
	width: 200%;
	height: 2px;
	background: #b9b9b9;
	z-index: 1;
}

.devices__information {
	position: relative;
	box-sizing: border-box;
	margin: 0;
	padding-left: 35px;
	max-width: 550px;
	font-family: ﻿MalagaOTCE-RegItalic, MyriadPro-Regular, sans-serif;
	font-size: 1.5em;
	color: rgb(16, 16, 16);
}

.devices__information_circles {
	position: absolute;
	left: 0;
	top: 3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 66px;
}

.devices__information_circle {
	display: block;
	width: 11px;
	height: 11px;
	background: #b7b7b7;
	border-radius: 50%;
}

.devices__information_circle-one {
	width: 13px;
	height: 13px;
	background: #101010;
}

.devices__information_quote {
	display: block;
	margin-top: 6px;
	font-size: 0.6em;
	color: #727272;
}

.devices__devices-img {
	max-width: 100%;
	height: auto;
	z-index: 2;
}

.mobile-app {
	position: absolute;
	bottom: 27%;
	left: 0;
	right: 6%;
	max-width: 430px;
	margin: 0 auto;
	font-family: TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	text-align: right;
	z-index: 4;
}

.mobile-app__title {
	margin-bottom: 19px;
	font-size: 2.2em;
	color: rgb(83, 83, 83);
}

.mobile-app__description {
	font-size: 1em;
	color: rgb(149, 147, 147)
}

.mobile-app__stores {
	display: flex;
	justify-content: flex-end;
	margin-top: 31px;
}

.mobile-app__store {
	overflow: hidden;
	margin-left: 13px;
	border-radius: 5px;
}

.mobile-app__store-img {
	max-width: 100%;
	height: 100%;
	transition: transform 0.6s;
}

.mobile-app__store-img:hover {
	transform: scale(1.05);
	transition: transform 0.6s;
}


/*support section*/
.support {
	padding: 40px 0 80px;
	font-family: TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	text-align: center;
	background: linear-gradient(to bottom, #f6f6f6, white);
}

.support__title {
	margin: 0;
	font-size: 2.3em;
	color: rgb(83, 83, 83);
}

.support__description {
	margin: 4px 0 0;
	font-size: 1.9em;
	color: #7c7c7c;
}

.support__buttons {
	display: flex;
	justify-content: center;
	margin-top: 36px;
}

.support__button {
	display: block;
	font-family: TitilliumWeb-Bold, MyriadPro-Regular, sans-serif;
	font-size: 1em;
	word-spacing: 0.3em;
	text-decoration: none;
	color: white;
	background: black;
	border-radius: 50px;
	transition: box-shadow 0.6s;
}

.support__button_upgrade {
	margin-right: 48px;
	padding: 20px 30px;
	background: linear-gradient(to left, #5f2f6a 10%, #636b92 60%);
	box-shadow: 0 10px 14px #7382ad;
}

.support__button_upgrade:hover {
	box-shadow: 0 10px 14px 4px #7382ad;
	transition: box-shadow 0.6s
}

.support__button_donate {
	padding: 20px 50px;
	background: linear-gradient(to right, #36bae1 10%, #5e7bea 70%);
	box-shadow: 0 10px 14px #61b7b6;
}

.support__button_donate:hover {
	box-shadow: 0 10px 14px 4px #61b7b6;
	transition: box-shadow 0.6s
}

.support__button:active {
	box-shadow: none;
	transition: box-shadow 0.6s;
}


/*footer*/
.footer {
	background: white;
}

.footer-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 600px;
	max-width: 1400px;
	margin: 0 auto;
}

.footer-inform {
	position: relative;
	box-sizing: border-box;
	max-width: 1200px;
	padding-left: 5px;
	border-top: 2px solid #b9b9b9;
	border-right: 2px solid #b9b9b9;
	font-family: TitilliumWeb-Bold, ﻿TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
}

.footer-inform::before {
	content: "";
	position: absolute;
	top: -2px;
	right: 100%;
	width: 100%;
	height: 2px;
	background: #b9b9b9;
}

.footer-partners {
	position: relative;
	padding-top: 20px;
	margin-right: 20px;
	text-align: right;
}

.footer-partners::after {
	content: "";
	position: absolute;
	right: -22px;
	width: 2px;
	height: 80%;
	background: #b9b9b9;
}

.footer-partners__title {
	margin: 0;
	font-family: TitilliumWeb-Bold, MyriadPro-Regular, sans-serif;
	font-size: 0.85em;
	color: rgb(122, 122, 122);
}

.footer-partners__img {
	position: relative;
	right: -5.6%;
	max-width: 100%;
	height: auto;
}

.footer-links {
	display: flex;
	margin: 160px 20px 0 0;
}

.footer-contacts {
	flex: 5 1;
	padding-right: 5px;
}

.footer-contacts__list {
	position: relative;
	overflow: hidden;
	width: 220px;
	margin: 0;
	padding-left: 20px;
	font-size: 0.9em;
	color: rgb(114, 114, 114);
	list-style: none;
}

.footer-contacts__list::before {
	content: "";
	position: absolute;
	left: 0;
	height: 100%;
	width: 2px;
	background: #b9b9b9;
}

.footer-contacts__item-text {
	margin-bottom: 8px;
}

.footer-contacts__item_support {
	margin-top: 25px;
}

.footer-contacts__item-link {
	color: #373737;
	text-decoration: none;
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.6s;
}

.footer-contacts__item-link:hover {
	border-bottom:2px solid #e2e2e2;
	transition: border-bottom-color 0.6s;
}

.footer-nav {
	flex: 4 1;
	display: flex;
	justify-content: space-between;
	padding-left: 5px;
	text-align: right;
}

.footer-nav__container {
	position: relative;
}

.footer-nav_line::after {
	content: "";
	position: absolute;
	top: 0;
	right: -25px;
	height: 210%;
	width: 2px;
	background: #b9b9b9;
}

.footer-nav__title {
	margin: 0;
	color: #5c5c5c;
	font-size: 1.2em;
}

.footer-nav__list {
	margin: 25px 0 0;
	padding: 0;
	list-style: none;
}

.footer-nav__item {
	position: relative;
	display: block;
	margin: 0 12px 4px 0;
	font-size: 0.9em;
	color: #a7a7a7;
	text-decoration: none;
	list-style-position: outside;
}

.footer-nav__item::after {
	content: "";
	position: absolute;
	top: 45%;
	right: -12px;
	width: 3px;
	height: 4px;
	background: #5c5c5c;
	border-radius: 1px;
}

.footer-copy {
	padding: 0 5px;
	font-family: TitilliumWeb-Bold, MyriadPro-Regular, sans-serif;
}

.footer-copy__list {
	display: flex;
	justify-content: space-between;
	width: 362px;
	padding: 0;
	list-style: none;
}

.footer-copy__list:hover {
	color: rgb(115, 115, 115);
	transition: color 0.6s;
}

/*text*/
.footer-copy__item {
	position: relative;
	font-size: 0.8em;
	text-decoration: none;
	color: rgb(163, 163, 163);
	border-bottom: 2px solid transparent;
	transition: border-bottom-color 0.6s;
}

.footer-copy__item:hover {
	border-bottom: 2px solid #e2e2e2;
	transition: border-bottom-color 0.6s;
}

.footer-copy__item::after {
	content: "/";
	position: absolute;
	top: 18%;
	right: -15px;
	font-weight: 900;
}

.footer-copy__item_last::after {
	content: "";
}

.footer-copy__copy {
	font-size: 0.75em;
	color: rgb(92, 92, 92);
}
