@import "normalize.css";
@import "fonts.css";

/*header*/
.header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-sizing: border-box;
	height: 190px;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 5px;
}

/*logo and languages*/
.container {
	flex: 5 1 auto;
	align-self: center;
	margin-top: 55px;
}

.logo {
	display: block;
	width: 157px;
	height: 22px;
	overflow: hidden;
}

.language {
	display: flex;
	justify-content: space-between;
	width: 236px;
	margin-top: 26px;
	padding: 0;
	list-style: none;
}

/*text*/
.language__item {
	position: relative;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(163, 163, 163);
}

.language__item::after {
	content: "/";
	position: absolute;
	top: 18%;
	right: -15px;
	font-weight: 900;
}

.language__item_last::after {
	content: "";
}

.language__item:hover {
	color: rgb(115, 115, 115);
	transition: color 0.6s;
}

.language__item_selected {
	color: rgb(133, 134, 136);
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(115, 115, 115);
}

/*nav*/
.nav {
	flex: 2 1 auto;
}

.nav__list {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style: none;
}

/*text*/
.nav__item {
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 0.9em;
	text-decoration: none;
	color: rgb(69, 69, 69);
}

.nav__item:hover {
	padding-bottom: 2px;
	border-bottom: 1px solid rgb(69, 69, 69);
}

/*login and sign up*/
.auth-bar {
	flex: 1 1 auto;
	display: flex;
	justify-content: flex-end;
}

/*text*/
.auth-bar__login, .auth-bar__sign-up {
	align-self: center;
	font-family: TitilliumWeb-Bold, TitilliumWeb-Regular, MyriadPro-Regular, sans-serif;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
	color: rgb(80, 80, 80);
}

.auth-bar__login {
	margin-right: 10%;
}

.auth-bar__login .fas {
	color: rgb(88, 44, 126);
	font-size: 0.9em;
}

.auth-bar__text {
	padding-left: 2px;
}

.auth-bar__sign-up {
	padding: 0.6em 1.3em;
	text-align: center;
	color: white;
	background: linear-gradient(to bottom right, #582c7e 30%, #616dc3 60%);
	box-shadow: 0 6px 10px 1px #7c8ec7;
	border-radius: 22px;
	transition: box-shadow 0.6s;
}

.auth-bar__sign-up:hover {
	box-shadow: 0 6px 10px 5px #8fa2dc;
	transition: box-shadow 0.6s;
}

.auth-bar__sign-up:active {
	box-shadow: none;
	transition: box-shadow 0.6s;
}

/*main*/
.main-title {
	position: relative;
	max-height: 700px;
}

/*main img*/
.main-title__img {
	width: 100%;
	height: auto;
	max-height: inherit;
}

/*container of title and create account*/
.main-title__info {
	position: absolute;
	top: 21%;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 250px;
}

.title-container__title, .title-container__description {
	margin: 0 0 10px;
	font-family: TitilliumWeb-Regular, TitilliumWeb-SemiBold, MyriadPro-Regular, sans-serif;
	font-size: 3.9em;
	color: rgb(122, 122, 121);
}

.title-container__description {
	margin: 0;
	font-size: 2.2em;
	text-align: center;
}

.title-container__description_red {
	color: #fc6b6d;
}

/*create account and refers to stores*/
.create-account {
	position: relative;
	display: flex;
	justify-content: center;
	width: 100%;
}

.create-account::after {
	content: "";
	position: absolute;
	top: 40%;
	left: 0;
	right: 1%;
	margin: 0 auto;
	width: 602px;
	height: 57px;
	background-image: url("../assets/img/shadow.png");
	z-index: 1;
}

.create-account__create {
	padding: 20px 66px;
	font-family: TitilliumWeb-Bold, MyriadPro-Regular, sans-serif;
	font-size: 1.1em;
	color: white;
	text-decoration: none;
	background: linear-gradient(to left, #5f2f6a 10%, #636b92 60%);
	border-radius: 50px;
	box-shadow: 0 10px 20px #6883cc;
	transition: box-shadow 0.6s;
	z-index: 2;
}

.create-account__create:hover {
	box-shadow: 0 10px 18px 5px #6883cc;
	transition: box-shadow 0.6s;
}

.create-account__create:active {
	box-shadow: none;
	transition: box-shadow 0.6s;
}

.create-account__store {
	align-self: center;
	margin-left: 24px;
	padding: 12px 14px;
	font-size: 1.5em;
	text-align: center;
	color: white;
	background: #7d5280;
	border-radius: 50px;
	opacity: 0.9;
	transition: opacity 0.6s;
	z-index: 2;
}

.create-account__store:hover {
	opacity: 1;
	transition: opacity 0.6s;
}

.create-account__store_android {
	padding: 12px 10px 12px 14px;
}

.soc-networks {
	position: fixed;
	top: 36%;
	right: 3%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	height: 94px;
	list-style: none;
}

.soc-networks__item {
	display: block;
	font-size: 1.4em;
	width: 20px;
	text-align: center;
	color: #676766;
}

.soc-networks__item:hover {
	color: #878786;
	transition: color 0.6s;
}
